	body{
		user-select: none;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.home-img{
		margin-top: 80px;
	}

	.b{
		font-weight: bold;
	}
	
	.wh{
		color: white;
	}

	p{
		font-size: 20px;
	}

	.divider{
		background: white;
		width: 10000px;
	}

	.margin-btn{
		transition: 0.35s;
		padding-right: 50px;
		padding-left: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0px auto;

	    position: absolute;
	    bottom: 5%;
	    transform: translate(-50%, -50%);
	    left: 50%;
	}

	.margin-btn:hover{
		transition: 0.35s;
		background: #34495e;
		color: white;
	}

	.box-blue{
		margin: 10px;
		border: 2px solid #2980b9;
	}

	.box-green{
		border: 2px solid #2ecc71;;
		margin: 10px;
	}

	.box-red{
		border: 2px solid #e74c3c;;
		margin: 10px;
	}

	.button{
		padding: 15px;
	}

	.help-box{
		border: 2px solid #34495e;
		margin: 20px;
	}	
	
	.project-box-danger{
		background: transparent;
		border: 2px solid #E74C3C;
		font-size: 20px;
		margin-top: 10px;
		width: 100%;
		margin: 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.scrollmenu {
		overflow: auto;
		white-space: nowrap;
	}
	
	div.scrollmenu a {
		display: inline-block;
		color: black;
		text-align: center;
		padding: 14px;
		text-decoration: none;
		border: 2px solid #333;
	}
	
	div.scrollmenu a:hover {
		background-color: #3a3a3a;
		color: white;
	}